@use "../../styles/variables";

.chat {
  background-color: variables.$clear-white;

  &-list {
    height: 100%;
    border-right: 1px solid variables.$light-gray-2;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__search {
      padding-bottom: 10px !important;
      border-bottom: 1px solid variables.$light-gray !important;
    }

    &__container {
      overflow-y: scroll;
      flex: 1;

      .list-user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        border-left: 3px solid transparent;

        &.list-user--active,
        &:hover {
          background-color: variables.$bg-light-gray;
          border-color: variables.$secondary-blue;
        }
      }
    }
  }

  &-box {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__user {
      border-bottom: 1px solid variables.$light-gray-2;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

      .user-options {
        &__item {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: variables.$bg-light-gray;
          }

          svg {
            fill: variables.$primary-blue;
            cursor: pointer;
          }
        }
      }
    }

    &__messages {
      display: flex;
      flex-direction: column;
      flex: 1;

      .message-container {
        flex: 1;
        overflow: auto;
        margin-bottom: 2px;
        padding: 30px 10px 10px 10px;

        .message-time {
          color: variables.$light-gray-3;
          font-weight: 500;
          font-size: 13px;
        }

        .user-message {
          font-size: 18px;
          display: flex;
          align-items: flex-end;
          gap: 5px;

          .message {
            padding: 8px 12px;
            border-radius: 20px;
            margin-top: 3px;
            max-width: 50%;
            font-size: 15px;
          }

          &.sender {
            justify-content: flex-end;
            padding-left: 5px;

            .avatar {
              order: 1;
            }

            .message {
              color: variables.$clear-white;
              background-color: variables.$primary-blue;
            }
          }

          &.receiver {
            justify-content: flex-start;
            padding-right: 5px;

            .avatar {
              order: 0;
            }

            .message {
              color: variables.$dark-gray-1;
              background-color: variables.$light-gray;
            }
          }
        }
      }

      .message-input {
        border-top: 1px solid variables.$light-gray-2;
        padding: 25px 25px 25px 10px;

        input {
          padding: 5px 15px;
          border: 0;
          outline: 0;
        }

        .message-send {
          background-color: variables.$primary-blue;
          color: variables.$clear-white;
          padding: 5px 30px;
          border-radius: 20px;
          cursor: pointer;

          svg {
            fill: variables.$clear-white;
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
