@use "../../styles/variables";

.chat {
  background-color: variables.$clear-white;

  &-list {
    height: 100%;
    border-right: 1px solid variables.$light-gray-2;
    overflow: hidden;

    &__search {
      padding-bottom: 10px !important;
      border-bottom: 1px solid variables.$light-gray !important;
    }

    &__container {
      overflow-y: scroll;
      max-height: calc(100% - 83px);

      .list-user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        border-left: 3px solid transparent;

        &.list-user--active,
        &:hover {
          background-color: #f6f9fe;
          border-color: variables.$secondary-blue;
        }
      }
    }
  }

  &-box {
    overflow: hidden;

    &__user {
      border-bottom: 1px solid variables.$light-gray-2;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

      .user-options {
        svg {
          fill: variables.$primary-blue;
          cursor: pointer;
        }
      }
    }
  }
}
