$black: #000;
$black-1: #111;
$clear-white: #fff;
$pale-white: #ffffffb3;
$dark-blue: #172551;
$primary-blue: #106eea;
$secondary-blue: #4f9bff;
$pale-blue: #ecf5ff;
$google: #e94820;
$facebook: #3b5998;
$green: #7dce13;
$dark-green: #5fa702;
$yellow: #f4d21b;

$gray: #67666e;
$dark-gray: #625f5f;
$dark-gray-1: #353536;
$light-gray: #e6e6e6;
$light-gray-1: #f9f9fc;
$light-gray-2: #dbdbdf;
$light-gray-3: #8a8d91;

$bg-light-gray: #f6f9fe;

$error: #d32f2f;
