@use "../../styles/variables";

.admin {
  min-height: inherit;
  overflow-x: hidden;

  &-container {
    min-height: inherit;
  }

  &-sidenav {
    height: calc(100vh - 50px);
    width: 250px;
    background: variables.$black-theme;
    color: variables.$clear-white;
    position: fixed;
    top: 0;
    left: 0;

    &__header {
      color: variables.$clear-white;
      padding: 24px 0 8px;

      h6 {
        font-size: 1.2rem;
        font-weight: 500;
      }

      svg {
        fill: variables.$clear-white;
      }
    }

    &__divider {
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0)
      );
      margin-top: 1rem !important;
      opacity: 0.25;
      height: 1px;
    }

    &__option {
      color: variables.$clear-white;
      padding: 15px;
      margin-bottom: 5px;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.1s linear;

      svg {
        fill: variables.$clear-white;
      }

      &.active {
        background: variables.$blue-theme;
      }

      &:hover {
        background-color: variables.$light-gray-3;
      }
    }
  }

  &-page {
    margin-left: 300px;
    padding: 16px;
    height: 100vh;

    .admin-wrapper {
      position: relative;
      width: 100%;

      .admin-breadcrumb {
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        width: 100%;
        min-height: 4.6875rem;
        border-radius: 0.75rem;
        box-shadow: none;
        position: sticky;
        top: 20px;
        right: 0;
        z-index: 10;

        &--scrolled {
          box-shadow: rgb(255 255 255 / 90%) 0rem 0rem 0.0625rem 0.0625rem inset,
            rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
          backdrop-filter: saturate(200%) blur(1.875rem);
          background-color: rgba(255, 255, 255, 0.8);
        }

        p {
          color: variables.$dark-blue;

          &.title {
            font-weight: 700;
          }
        }
      }

      .admin-content {
        padding: 30px 0;
      }
    }
  }

  p {
    margin: 0;
  }
}
